@using Admin.Core.Models
@{
    ViewData["Title"] = "Home Page";

}
@{
    Layout = "_MyLayout";
}

   <div class="img"></div>
  <div class="center">
    <div class="title">Employee </div>
    <div class="btns">
      <button>Learn More</button>
      <button>Subscribe</button>
    </div>
  </div>